<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Elo simulator</title>
</head>

<body>
  <div class="container">
    {{> games}}
    <hr/>
    {{> players}}
  </div>
</body>

<template name="games">
  {{#if databaseIsEmpty}}
    <p>Matchups (winner, comma, loser):</p>
    <textarea name="matchups" rows="8" cols="40">
C, E
D, E
C, D
B, F
A, B
A, F
    </textarea>
    <button id="runSimulation">Run simulation</button>
  {{else}}
    <button id="clearSimulation">Clear data &amp; start over</button>
  {{/if}}
  <h2>Game outcomes</h2>
  <table class="table table-hover">

    <thead>
      <tr>
        <th>Game #</th>
        <th>Winner</th>
        <th>Winner rating</th>
        <th>Winner E</th>
        <th>Winner record</th>
        <th>Loser</th>
        <th>Loser rating</th>
        <th>Loser E</th>
        <th>Loser record</th>
      </tr>
    </thead>

    <tbody>
    {{#each games}}
      <tr>
        <th>{{number}}</th>
        <th>{{winner.name}}</th>
        <th>{{roundToHundredth winner.rating}}</th>
        <th>{{roundToHundredth winner.e}}</th>
        <th>{{winner.record}}</th>
        <th>{{loser.name}}</th>
        <th>{{roundToHundredth loser.rating}}</th>
        <th>{{roundToHundredth loser.e}}</th>
        <th>{{loser.record}}</th>
      </tr>
    {{/each}}
    </tbody>

  </table>
</template>

<template name="players">
  <h2>Final standings</h2>
  <table class="table table-hover">

    <thead>
      <tr>
        <th>Player</th>
        <th>Rating</th>
        <th>E</th>
        <th>Games played</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>

    <tbody>
    {{#each players}}
      <tr>
        <th>{{name}}</th>
        <th>{{roundToHundredth this.rating}}</th>
        <th>{{roundToHundredth this.e}}</th>
        <th>{{gamesPlayed}}</th>
        <th>{{wins}}</th>
        <th>{{losses}}</th>
      </tr>
    {{/each}}
    </tbody>

  </table>
</template>
